<ul class="list-group">
    {{#each todos}}
        <li class="list-group-item"><a href="/todos/{{id}}"><h2>{{title}}</h2></a></li>
    {{/each}}
</ul>
<a style="margin-top: 20px;" href="/todos/new" class="btn btn-success">Create new todo</a>
